@inherits RazorLayoutSlice<LayoutModel>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@Model.Title</title>
</head>
<body>
    @await RenderBodyAsync()
</body>
</html>
