name: Test And Publish
on:
  push:
    branches:
      - main
    paths:
      - ".github/**/*.yml"
      - scripts/**
      - src/**
  workflow_dispatch:
jobs:
  reset-tags:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          global-json-file: src/global.json
      - name: Reset Tags
        run: |
          dotnet run scripts/ci.cs -- delete-tags
          sleep 10
          dotnet run scripts/ci.cs -- create-tags
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  test-and-publish:
    needs: reset-tags
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-15-intel, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          global-json-file: src/global.json
      - name: Restore
        run: dotnet run scripts/repo.cs -- -r
      - name: Build
        run: dotnet run scripts/repo.cs -- -b
      - name: Test
        run: dotnet run scripts/repo.cs -- -t
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Publish
        run: dotnet run scripts/repo.cs -- -p
      - name: Create Releases
        run: dotnet run scripts/ci.cs -- create-releases
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  update-pages:
    needs: test-and-publish
    uses: ./.github/workflows/update-pages.yml
    secrets: inherit
