name: Update Pages
on:
  workflow_call:
  workflow_dispatch:
jobs:
  update-pages:
    runs-on: ubuntu-latest
    steps:
        - name: Checkout
          uses: actions/checkout@v6
        - name: Setup .NET
          uses: actions/setup-dotnet@v5
          with:
            global-json-file: src/global.json
        - name: Update gh-pages
          run: dotnet run scripts/ci.cs -- update-pages
          env:
            GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
